{% extends "__BackstageBase__.html" %}

{% block title_learning %}class="active"{% end %}

{% block AfterCSS %}
<link rel="stylesheet" type="text/css" href="{{static_url("css/backstage/fileinput.css")}}">
{% end %}


{% block Body %}
 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="/Article/add" method="post" class="add-article-form" >
          <div class="col-md-9">
            <h1 class="page-header">撰写新文章</h1>
            <div class="form-group">
              <label for="article-title" class="sr-only">标题</label>
              <input type="text" id="article-title" name="title" class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
            </div>
            <div class="form-group" id="editor">
              <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>描述</span></h2>
              <div class="add-article-box-content">
              	<textarea class="form-control" name="describe" autocomplete="off"></textarea>
                <span class="prompt-text">显示在“学无止境”页面下各文章的简介，不要超过100字~</span>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>标题图片</span></h2>
              <div class="add-article-box-content">
                <input id="input-file" name="input-file" type="file" class="file">
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>栏目</span></h2>
              <div class="add-article-box-content">
                <ul class="category-list">
                  <li>
                    <label>
                      <input name="category" type="radio" value="1" checked>
                      这是栏目 <em class="hidden-md">( 栏目ID: <span>1</span> )</em></label>
                  </li>
                  <li>
                    <label>
                      <input name="category" type="radio" value="2">
                      这是栏目 <em class="hidden-md">( 栏目ID: <span>2</span> )</em></label>
                  </li>
                  <li>
                    <label>
                      <input name="category" type="radio" value="3">
                      这是栏目 <em class="hidden-md">( 栏目ID: <span>3</span> )</em></label>
                  </li>
                  <li>
                    <label>
                      <input name="category" type="radio" value="4">
                      这是栏目 <em class="hidden-md">( 栏目ID: <span>4</span> )</em></label>
                  </li>
                  <li>
                    <label>
                      <input name="category" type="radio" value="5">
                      这是栏目 <em class="hidden-md">( 栏目ID: <span>5</span> )</em></label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>关键字</span></h2>
              <div class="add-article-box-content">
                <input type="text" class="form-control" placeholder="文章关键字" id="Keyword" name="Keyword" autocomplete="off">
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>访问密码</span></h2>
              <div class="add-article-box-content">
                <input type="text" class="form-control" placeholder="当文章未公开时需要填写，不填写默认为123" id="AccessPassword" name="AccessPassword" autocomplete="off">
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>发布</span></h2>
              <div class="add-article-box-content">
              	<p><label>状态：</label><span class="article-status-display">未发布</span></p>
                <p><label>是否公开：</label><input type="radio" name="visibility" value="0" checked/>公开 <input type="radio" name="visibility" value="1" />加密</p>
                <p><label>发布时间：</label><span class="article-time-display"><input style="border: none;" type="datetime" name="time" value="2016-01-09 17:29:37" /></span></p>
              </div>
              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit" name="submit">发布</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

{% end %}

{% block BeforeJavaScript %}
    <script type="text/javascript" src="{{static_url("js/bootstrap/piexif.min.js")}}"></script>
{% end %}


{% block AfterJavaScript %}
    <script type="text/javascript" src="{{static_url("js/wangEditor.min.js")}}"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#editor')
        // 自定义菜单配置
        editor.customConfig.menus = [
              'head',  // 标题
              'bold',  // 粗体
              'fontSize',  // 字号
              'fontName',  // 字体
              'italic',  // 斜体
              'strikeThrough',  // 删除线
              'foreColor',  // 文字颜色
              'backColor',  // 背景颜色
              'justify',  // 对齐方式
              'quote',  // 引用
              'emoticon',  // 表情
              'image',  // 插入图片
              'code',  // 插入代码
              'undo',  // 撤销
              'redo'  // 重复
        ]
        // 通过 url 参数配置 debug 模式。url 中带有 wangeditor_debug_mode=1 才会开启 debug 模式
        // editor.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0
        editor.create()
    </script>

    <script src="{{static_url("js/bootstrap/fileinput.min.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/bootstrap/fileinput-theme.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/bootstrap/zh.js")}}" type="text/javascript"></script>
    <script src="{{static_url("js/bootstrap/fileinput-initial.js")}}" type="text/javascript"></script>

{% end %}