{% extends "__BackstageBase__.html" %}

{% block title_category %}class="active"{% end %}

{% block Body %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
    <div class="row">
        <div class="col-md-5">
            <h1 class="page-header">添加</h1>
            <form>
                <div class="form-group">
                    <label for="category-id">栏目ID</label>
                    <input type="number" id="category-id" name="category-id" class="form-control" placeholder="在此处输入栏目ID" autocomplete="off" min="0" max="99">
                    <span class="prompt-text">栏目ID会影响排列顺序。</span> </div>
                <div class="form-group">
                    <label for="category-keywords">栏目分类</label>
                    <input type="text" id="category-keywords" name="category-keywords" class="form-control" placeholder="在此处输入栏目关键字" autocomplete="off">
                    <span class="prompt-text">栏目分类会出现在添加学习网页的选择中。</span> </div>
                <div class="form-group">
                    <label for="category-describe">栏目描述</label>
                    <textarea class="form-control" id="category-describe" name="category-describe" rows="4" autocomplete="off"></textarea>
                    <span class="prompt-text">对于各栏目分类的描述。</span> </div>
                <button class="btn btn-primary" type="button" id="submit" name="submit">添加分类</button>
            </form>
        </div>
        <div class="col-md-7">
            <h1 class="page-header">管理 <span class="badge">3</span></h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-paperclip"></span> <span class="visible-lg">ID</span></th>
                        <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">名称</span></th>
                        <th><span class="glyphicon glyphicon-list-alt"></span> <span class="visible-lg">描述</span></th>
                        <th><span class="glyphicon glyphicon-pushpin"></span> <span class="visible-lg">总数</span></th>
                        <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categoryItem %}
                        {% module CommonItem("category",category) %}
                    {% end %}
                    </tbody>
                </table>
                <span class="prompt-text"><strong>注：</strong>删除一个栏目也会删除栏目下的文章和子栏目,请谨慎删除!</span> </div>
        </div>
    </div>
</div>

{% end %}

{% block AfterJavaScript %}
<script>

    //是否确认删除
    $(function () {
        $("#submit").click(function () {
            var categoryname = $("#category-keywords").val();
            var describe = $("#category-describe").val();
            var id = $("#category-id").val();
            //必须都填写才能提交
            if(categoryname && describe && id)
            {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/system/handle/addcategory",
                    data: {
                        "categoryname": categoryname,
                        "describe": describe,
                        "id": id,
                    },
                    cache: false, //不缓存此页面
                    success: function (data) {
                        if(data["status"] == "fail")
                        {
                            alert(data["message"]);
                        }
                        else
                        {
                            alert(data["message"]);
                            window.location.reload();
                        }
                    }
                });
            }

        });
    });
</script>
{% end %}