{% extends "__BackstageBase__.html" %}

{% block title_index %}class="active"{% end %}

{% block Body %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <h1 class="page-header">信息总览</h1>
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>文章</h4>
          <span class="text-muted">{{ articleNumber }} 条</span> </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>留言</h4>
          <span class="text-muted">{{ messageNumber }} 条</span> </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>友链</h4>
          <span class="text-muted">0 条</span> </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>访问量</h4>
          <span class="text-muted">0</span> </div>
      </div>
      <h1 class="page-header">状态</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>登录者: <span>{{ current_user }}</span>，这是您第 <span>{{ login_num }}</span> 次登录</td>
            </tr>
            <tr>
              <td>上次登录时间: {{ last_time }} , 上次登录IP: {{ last_ip }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h1 class="page-header">系统信息</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr> </tr>
          </thead>
          <tbody>
            <tr>
              <td>管理员个数:</td>
              <td>{{ admin_num }}</td>
              <td>服务器软件:</td>
              <td>Tornado</td>
            </tr>
            <tr>
              <td>浏览器:</td>
              <td>{{ browser }}</td>
              <td>Python版本:</td>
              <td>{{ python_version }}</td>
            </tr>
            <tr>
              <td>操作系统:</td>
              <td>{{ os }}</td>
              <td>会员人数:</td>
              <td>{{ member_num }}</td>
            </tr>
            <tr>
              <td>登录者IP:</td>
              <td>{{ current_ip }}</td>
              <td>当前时间:</td>
              <td>{{ time }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr></tr>
          </tfoot>
        </table>
      </div>
      <footer>
        <h1 class="page-header">程序信息</h1>
        <div class="table-responsive">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td><span style="display:inline-block; width:8em">版权所有</span> POWERED BY ALL RIGHTS RESERVED</td>
            </tr>
            <tr>
              <td><span style="display:inline-block;width:8em">友情链接</span> 嘛哩嘛哩哄 </td>
            </tr>
          </tbody>
        </table>
        </div>
      </footer>
    </div>

{% end %}

