{% extends "__BackstageBase__.html" %}

{% block title_share %}class="active"{% end %}

{% block Body %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
    <form action="/Article/checkAll" method="post">
        <h1 class="page-header">操作</h1>
        <ol class="breadcrumb">
            <li><a href="/system/lifeshare/add">增加公告</a></li>
        </ol>
        <h1 class="page-header">管理 <span class="badge">{{ shareNum }}</span></h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span></th>
                    <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                    <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                    <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                </tr>
                </thead>
                <tbody>
                    {% for share in shares %}
                        {% module LifeShareManageItem(share) %}
                    {% end %}
                </tbody>
            </table>
        </div>
        <footer class="message_footer">
            <nav>
                <div class="btn-toolbar operation" role="toolbar">
                    <div class="btn-group" role="group"><a class="btn btn-default" onClick="select()">全选</a> <a
                            class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default"
                                                                                  onClick="noselect()">不选</a></div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                                title="删除全部选中" name="checkbox_delete">删除
                        </button>
                    </div>
                </div>
                <ul class="pagination pagenav">
                    <li class="disabled"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a></li>
                    <li class="active"><a>1</a></li>
                    <li class="disabled"><a aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a></li>
                </ul>
            </nav>
        </footer>
    </form>
</div>

{% end %}

{% block AfterJavaScript %}
<script>

    var checkall = document.getElementsByName("checkbox[]");

    //全选
    function select() {
        for (var $i = 0; $i < checkall.length; $i++) {
            checkall[$i].checked = true;
        }
    };

    //反选
    function reverse() {
        for (var $i = 0; $i < checkall.length; $i++) {
            if (checkall[$i].checked) {
                checkall[$i].checked = false;
            } else {
                checkall[$i].checked = true;
            }
        }
    }

    //全不选
    function noselect() {
        for (var $i = 0; $i < checkall.length; $i++) {
            checkall[$i].checked = false;
        }
    }

    //是否确认删除
    $(function () {
        $("#checkbox_delete").click(function () {
            obj = document.getElementsByName("checkbox[]");
            check_val = [];
            for (k in obj) {
                if (obj[k].checked)
                    check_val.push(obj[k].value);
            }
            //alert(check_val);
            if (window.confirm("此操作不可逆，是否确认？")) {
                $.ajax({
                    type: "POST",
                    url: "/system/handle/delete/article/all",
                    data: {
                        "check_val": check_val,
                    },
                    cache: false, //不缓存此页面
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
            ;
        });
    });
</script>
{% end %}