{% extends "__BackstageBase__.html" %}

{% block title_mangeuser %}class="active"{% end %}

{% block Body %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
    <h1 class="page-header">操作</h1>
    <ol class="breadcrumb">
          <li>
              <a href="/system/handle/delete/loginlog/all" onClick="return confirm('确定要删除所有记录?');");">
                清除所有登录记录
              </a>
          </li>
    </ol>
    <h1 class="page-header">管理 <span class="badge">{{ logNumber }}</span></h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">ID</span></th>
                <th><span class="glyphicon glyphicon-user"></span> <span class="visible-lg">用户名</span></th>
                <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">登录时间</span></th>
                <th><span class="glyphicon glyphicon-adjust"></span> <span class="visible-lg">登录IP</span></th>
                <th><span class="glyphicon glyphicon-remove"></span> <span class="visible-lg">操作</span></th>
            </tr>
            </thead>
            <tbody>
            {% for loginlog in logItem %}
                        {% module CommonItem("Logoinlog",loginlog) %}
                    {% end %}
            </tbody>
        </table>
    </div>
    <footer class="message_footer">
        <nav>
            <ul class="pagination pagenav">
                <li class="disabled"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a></li>
                <li class="active"><a>1</a></li>
                <li class="disabled"><a aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a></li>
            </ul>
        </nav>
    </footer>
</div>

{% end %}

{% block AfterJavaScript %}

{% end %}