{% extends "__BackstageBase__.html" %}

{% block title_learning %}class="active"{% end %}

{% block AfterCSS %}
<link rel="stylesheet" type="text/css" href="{{static_url("css/backstage/fileinput.css")}}">
{% end %}


{% block Body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
    <div class="row">
        <form id="article-form" action="/system/handle/addarticle" method="post" class="add-article-form" enctype="multipart/form-data">
            <div class="col-md-9">
                <h1 class="page-header">撰写新文章</h1>
                <div class="form-group">
                    <label for="article-title" class="sr-only">标题</label>
                    <input type="text" id="article-title" name="article-title" class="form-control" placeholder="在此处输入标题"
                           value="{{ article_title}}" required autofocus autocomplete="off">
                </div>
                <div class="form-group" id="editor">
                    {% raw article_content %}
                </div>
                <div class="add-article-box">
                    <h2 class="add-article-box-title"><span>描述</span></h2>
                    <div class="add-article-box-content">
                        <textarea id="describe" class="form-control" name="describe" autocomplete="off" required>{{ article_describe}}</textarea>
                        <span class="prompt-text">显示在“学无止境”页面下各文章的简介，不要超过100字~</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h1 class="page-header">操作</h1>
                <div class="add-article-box">
                    <h2 class="add-article-box-title"><span>栏目</span></h2>
                    <div class="add-article-box-content">
                        <ul class="category-list">
                            <li>
                                <label>
                                    <input name="category" type="radio" value="0" {{ article_category[0] }}>
                                    Python <em class="hidden-md">( 栏目ID: <span>0</span> )</em></label>
                            </li>
                            <li>
                                <label>
                                    <input name="category" type="radio" value="1" {{ article_category[1] }}>
                                    JavaScript/CSS <em class="hidden-md">( 栏目ID: <span>1</span> )</em></label>
                            </li>
                            <li>
                                <label>
                                    <input name="category" type="radio" value="2" {{ article_category[2] }}>
                                    Tornado <em class="hidden-md">( 栏目ID: <span>2</span> )</em></label>
                            </li>
                            <li>
                                <label>
                                    <input name="category" type="radio" value="3" {{ article_category[3] }}>
                                    Sqlalchemy <em class="hidden-md">( 栏目ID: <span>3</span> )</em></label>
                            </li>
                            <li>
                                <label>
                                    <input name="category" type="radio" value="4" {{ article_category[4] }}>
                                    第三方插件 <em class="hidden-md">( 栏目ID: <span>4</span> )</em></label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="add-article-box">
                    <h2 class="add-article-box-title"><span>关键字</span></h2>
                    <div class="add-article-box-content">
                        <input type="text" class="form-control" placeholder="文章关键字" id="keyword" name="keyword" autocomplete="off"
                        value="{{ article_keywork}}">
                    </div>
                </div>
                <div class="add-article-box">
                    <h2 class="add-article-box-title"><span>访问密码</span></h2>
                    <div class="add-article-box-content">
                        <input type="text" class="form-control" placeholder="当文章未公开时需要填写" id="accesspassword" name="accesspassword" autocomplete="off"
                        value="{{ article_passwork}}">
                    </div>
                </div>
                <div class="add-article-box">
                    <h2 class="add-article-box-title"><span>发布</span></h2>
                    <div class="add-article-box-content">
                        <p><label>状态：</label><span class="article-status-display">已发布</span></p>
                        <p><label>是否公开：</label><input type="radio" name="visibility" value="0" {{ article_visibility[0] }}/>公开 <input type="radio" name="visibility" value="1" {{ article_visibility[1] }}/>加密</p>
                        <p><label>发布时间：</label><span class="article-time-display"><input style="border: none;" type="datetime" name="time" value="{{ article_date }}" /></span></p>
                    </div>
                    <div class="add-article-box-footer">
                        <button class="btn btn-primary" type="button" id="submit-btn">更新</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% end %}

{% block BeforeJavaScript %}
    <script type="text/javascript" src="{{static_url("js/bootstrap/piexif.min.js")}}"></script>
{% end %}


{% block AfterJavaScript %}
<script type="text/javascript" src="{{static_url("js/wangEditor.min.js")}}"></script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'justify',  // 对齐方式
        'quote',  // 引用
        'emoticon',  // 表情
        'image',  // 插入图片
        'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ];
    // 通过 url 参数配置 debug 模式。url 中带有 wangeditor_debug_mode=1 才会开启 debug 模式
    editor.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0;
    editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
    editor.create();
    $(function () {
        $("#submit-btn").click(function () {

            //获取文章内容
            var content = editor.txt.html();
            //获取文章标题
            var title = $('#article-title').val();
            //alert("获取文章标题"+title);
            //获取文章简介
            var describe = $('#describe').val();
            //alert("文章简介" + describe);
            //获取栏目分组
            var category = $("input[name='category']:checked").val();
            //alert(category);
            //获取关键字
            var keywork = $('#keyword').val();
            //alert(keywork);
            //获取访问密码
            var password = $('#accesspassword').val();
            //alert(password);
            //获取加密状态
            var visibility = $("input[name='visibility']:checked").val();
            //alert(visibility);
            // 检查是图片、标题、简介是否为空
            if ( title == "" && describe == "") {
                alert("请填完整内容");
                return false;
            }
            var values = {};
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/system/handle/updatearticle/{{ article_id }}",
                async: true,
                data: {
                    "title": title,
                    "content": content,
                    "describe": describe,
                    "category": category,
                    "keywork": keywork,
                    "password": password,
                    "visibility": visibility,
                },

                success: function (data) {
                    alert(data.message)
                    window.location.replace(data.url);
                },
                error: function () {
                    alert("网络传输错误，请稍后再试~");
                },
            });

        });
    });
</script>
{% end %}