{% extends "__BackstageBase__.html" %}

{% block title_category %}class="active"{% end %}

{% block Body %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
    <div class="row">
        <div class="col-md-9">
            <h1 class="page-header">修改</h1>
            <form>
                <div class="form-group">
                    <label for="category-id">栏目ID</label>
                    <input type="number" id="category-id" name="category-id" class="form-control" placeholder="在此处输入栏目ID" autocomplete="off" min="0" max="99"
                    value="{{ id }}">
                    <span class="prompt-text">栏目ID会影响排列顺序。</span> </div>
                <div class="form-group">
                    <label for="category-keywords">栏目分类</label>
                    <input type="text" id="category-keywords" name="category-keywords" class="form-control" placeholder="在此处输入栏目关键字" autocomplete="off"
                    value="{{ categoryname }}">
                    <span class="prompt-text">栏目分类会出现在添加学习网页的选择中。</span> </div>
                <div class="form-group">
                    <label for="category-describe">栏目描述</label>
                    <textarea class="form-control" id="category-describe" name="category-describe" rows="4" autocomplete="off">
                        {{ describe }}
                    </textarea>
                    <span class="prompt-text">对于各栏目分类的描述。</span> </div>
            </form>
        </div>
        <div class="col-md-3">
                <h1 class="page-header">操作</h1>
                <div class="add-article-box">
                    <h2 class="add-article-box-title"><span>操作</span></h2>
                    <div class="add-article-box-footer">
                        <button class="btn btn-primary" type="button" id="update-btn">更新</button>
                        <button class="btn btn-primary" type="button" id="delete-btn" style="margin-right:10px;">删除</button>
                    </div>
                </div>
            </div>
    </div>
</div>

{% end %}

{% block AfterJavaScript %}
<script>

    $(function () {
        $("#update-btn").click(function () {
            var categoryname = $("#category-keywords").val();
            var describe = $("#category-describe").val();
            var id = $("#category-id").val();
            //必须都填写才能提交
            if(categoryname && describe && id)
            {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/system/handle/update/category/{{ id }}",
                    data: {
                        "categoryname": categoryname,
                        "describe": describe,
                        "oldcategoryname": {{ categoryname }},
                        "newid": id,

                    },
                    cache: false, //不缓存此页面
                    success: function (data) {
                        if(data["status"] == "fail")
                        {
                            alert(data["message"]);
                        }
                        else
                        {
                            alert(data["message"]);
                            window.location.href="/system/category"
                        }
                    }
                });
            }
        });
    });

        $(function () {
        $("#delete-btn").click(function () {

            //必须都填写才能提交
            if(categoryname && describe && id)
            {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    cache: false, //不缓存此页面
                    url: "/system/handle/delete/category/{{ id }}",
                    data: {
                        "id": {{ id }},
                    },

                    success: function(data) {
                            window.location.reload();
                    },

                });
            }
        });
    });
</script>
{% end %}