<tr>
    <td><input type="checkbox" class="input-control" name="checkbox[]" value="{{ article["id"] }}"/></td>
    <td class="article-title">{{ article["title"] }}</td>
    <td>{{ article["category"] }}</td>
    <td class="hidden-sm">{{ article["keywork"] }}</td>
    <td class="hidden-sm">{{ article["msg"] }}</td>
    <td>{{ article["date"] }}</td>
    <td><a href="/system/handle/updatearticle/{{ article["id"] }}">修改</a>
        <a href="/system/handle/deletearticle/{{ article["id"] }}">删除</a>
    </td>
</tr>