{% extends "__Base__.html"%}

{% block BeforeHead %}
    <link href="{{static_url("css/about.css")}}" rel="stylesheet">
{% end %}

{% block Content %}

<div class="banner">
    <p data-scroll-reveal="enter top over 2s">我们不停的翻弄着回忆，却再也找不回那时的自己</p>
    <p data-scroll-reveal="enter left over 2s after 1s">人生，是一场盛大的遇见。若你懂得，就请珍惜。</p>
    <p data-scroll-reveal="enter bottom over 2s after 2s">无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候.</p>
</div>

<div class="memorial_day">
    <div class="time_axis"></div>
    <ul>
        {% for item in ItemNum %}
            {% module AboutTimeLine(item) %}
        {% end %}
    </ul>
</div>
<div class="about left">
  <h2>Just about me</h2>
    <ul>
        <p>
            {% raw introduce %}
        </p>
    </ul>
    <h2>About my blog</h2>
    <p>域  名：还没申请~ 创建于2020年01月01日 </p>
    <p>服务器：个人笔记本电脑
    <p>程  序：Tornado + python3.6 </p>


</div>

{% end %}

{% block Footer%}

{% end %}