{% extends "__Base__.html"%}

{% block HearTitle %}
<title>
    html模板
</title>
{% end %}

{% block BeforeHead %}
    <link href="static/css/about.css" rel="stylesheet">
{% end %}

{% block Content %}

<div class="banner">
    <p data-scroll-reveal="enter top over 2s">我们不停的翻弄着回忆，却再也找不回那时的自己</p>
    <p data-scroll-reveal="enter left over 2s after 1s">人生，是一场盛大的遇见。若你懂得，就请珍惜。</p>
    <p data-scroll-reveal="enter bottom over 2s after 2s">无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候.</p>
</div>

<div class="memorial_day">
    <div class="time_axis"></div>
    <ul>
        {% for item in ItemNum %}
            {% module AboutTimeLine(item) %}
        {% end %}
    </ul>
</div>
<div class="about left">
  <h2>Just about me</h2>
    <ul>
        <p>
            第一次读《人生》时，是在高中的时候，那时候读完只觉得高加林是一个爱慕虚荣和见异思迁的人，对巧珍有一丝的敬佩，更多的是遗憾，对于亚萍则更多的是痛恨，痛恨她的意志不坚，对克男造成了伤害，也对加林和巧珍关系的裂解起了助燃作用。而今天，当我又再一次重新读这篇文章的时候，好像没有像当初的那种热血沸腾、义愤填膺了，我很平静的读完了它，对加林也不是那么的憎恶了，对巧珍也不是感到特别的遗憾了，对亚萍也不再那么痛恨了。的确，当生活的道路摆在面前时，每个人都有自己的选择，都有自己的路要走，尽管巧珍很温柔体贴、很善解人意，可当加林要选择走另一条路时，他依旧会放开她、远离她，即使他走的那条路上没有黄亚萍的召唤，我想他终究还是会离开的，只是时间的问题，只因为这一切都是由他那颗狂躁的心所做出来的抉择。
        </p>

        <p>
            爱情的世界里，本来可能就没有完全对等的付出与回报。当你努力的喜欢着一个人时，他或许正在努力的追求者另外一个人，这样的事很让人恼，但事实就是如此。但无论如何，我们始终都要正确的定位自己，要有对自己选择负责的勇气。人生，其实无非是矛盾与选择的综合体，无关对错，仅仅在于我们能否在矛盾中有勇气做出选择并勇敢承担一切后果。
        </p>
    </ul>
    <h2>About my blog</h2>
    <p>域  名：还没申请~ 创建于2020年01月01日 </p>
    <p>服务器：个人笔记本电脑
    <p>程  序：Tornado + python3.6 </p>


</div>

{% end %}

{% block Footer%}

{% end %}