{% extends "__Base__.html"%}

{% block HearTitle %}
<title>
    html模板
</title>
{% end %}

{% block BeforeHead %}
    <link href="{{static_url("css/index.css")}}" rel="stylesheet">
{% end %}

{% block Content %}
    <div class="blog" data-scroll-reveal="enter top" >
        {% for item in TitleNum%}
            {% module IndexImageHead(item) %}
        {% end %}
    </div>
    <ul class="cbp_tmtimeline">
        {% for article in Articles %}
            {% module IndexTimeLine(article) %}
        {% end %}
    </ul>

{% end %}

{% block Footer%}

{% end %}