<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>博客账号注册界面</title>
<link rel="stylesheet" href="{{static_url("css/login_register.css")}}" />
<body>

<div class="register-container">
	<h1>账号注册</h1>

	<div class="connect">
		<p>爱情原如树叶一样，在人忽视里绿了，在忍耐里露出蓓蕾</p>
	</div>

	<form action="" method="post" id="registerForm">
		<div>
			<input type="text" name="username" class="username" placeholder="您的用户名" autocomplete="off"/>
		</div>
        <div>
			<input type="password" name="password" class="password" placeholder="输入密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<div>
			<input type="password" name="confirm_password" class="confirm_password" placeholder="再次输入密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<div>
			<input type="text" name="mobile" class="mobile" placeholder="输入手机号码" autocomplete="off" id="number"/>
		</div>
		<div>
			<input type="email" name="email" class="email" placeholder="输入邮箱地址" oncontextmenu="return false" onpaste="return false" />
		</div>
        <!-- 因为使用Ajax提交，所以这里要屏蔽Button的默认提交功能，设为button -->
		<button id="submit_register" type="button">注 册</button>
	</form>
	<a href="/login">
		<button type="button" class="register-tis">已经有账号？</button>
	</a>

</div>

<script src="{{static_url("js/jquery.min.js")}}"></script>
<script src="{{static_url("js/login.js")}}"></script>
<!--背景图片自动更换-->
<script src="{{static_url("js/supersized.3.2.7.min.js")}}"></script>
<script src="{{static_url("js/supersized-init.js")}}"></script>
<!--表单验证-->
<script src="{{static_url("js/jquery.validate.min.js")}}"></script>

</body>
</html>
